/* ====== MAIN CONTENT ======= */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Rajdhani:500,700);
body {
	margin-top: 85px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Rajdhani', sans-serif;
}
table {
	tbody {
		vertical-align: top;
	}
}
.btn {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.btn-line {
	border: 2px solid #fff;
}

.btn-outline {
	border: 2px solid $brand-primary;
	background: transparent;
	color:$brand-primary;
}

.onleft {
	@include float(left);
}

.team-member {
	.col-md-6 {
		overflow: hidden;
	}
}
.head-office {
	@include clearfix;
}

// SITE CONTENT
.site-content {
	img {
		max-width: 100%;
	}
}
.post {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ddd;
	.inner {
		margin-left: 130px;
	}

	&.format-image, &.format-video, &.format-link, &.format-audio, &.format-quote, &.format-gallery, &.format-chat, &.format-status, &.format-aside, &.format-contact {
		&:before {
			font-family: FontAwesome;
			color:#fff;
			font-size: 30px;
			position: absolute;
			display: block;
			width: 100px;
			height: 100px;
			left: 0;
			top: 0;
			background: #07a0dc;
			padding-top: 30px;
			text-align: center;
		}
	}

	&.format-image {
		&:before {
			content: "\f1c5";
		}
	}

	&.format-video {
		&:before {
			content: "\f03d";
		}
	}

	&.format-audio {
		&:before {
			content: "\f001";
		}
	}

	&.format-gallery {
		&:before {
			content: "\f083";
		}
	}

	&.format-status {
		&:before {
			content: "\f0a1";
		}
	}

	&.format-aside {
		&:before {
			content: "";
			background: #07a0dc image-url('content/aside-icon.png') no-repeat center center;
		}
	}

	&.format-chat {
		&:before {
			content: "\f086";
		}
		.chat {
			li {
				margin-bottom: 10px;
				border-bottom: 1px dotted #eee;
			}
			.name {
				font-weight: 700;
			}
			p {
				font-style: italic;
			}
		}
	}

	&.format-quote {
		&:before {
			content: "\f10d";
		}
		blockquote {
			font-family: $font-family-serif;
			font-size: 32px;
			line-height: 1.2em;
		}
		cite {
			font-size: 16px;
		}
	}

	&.format-link {
		&:before {
			content: "\f0c1";
		}
		.entry-title {
			background: #f6f6f6;
			i {
				font-size: 18px;
				color:$main-color;
			}
		}
	}

	&.format-contact {
		&:before {
			content: "\f1d8";
		}
	}
}

.entry-content {
	margin-top: 15px;
	line-height: 1.7em;
	// @include clearfix;
	h1,h2,h3 {
		font-weight: 700;
	}
	a {
		color:#07a0dc;
	}
	img {
		max-width: 100%;
	}
	ul {
		list-style-type: square;
	}

	table {
		margin: 20px 0;
		width: 100%;
		font-family: 'Rajdhani', sans-serif;
		font-size: 16px;
		th {
			font-size: 14px;
			padding: 8px 16px;
			background-color: #000;
			border-bottom: 1px solid #fff;
			color:#fff;
		}
		td {
			padding: 8px 16px;
			background-color: #f4f4f4;
			border-bottom: 1px solid #fff;
		}
	}
	blockquote {
		font-style: italic;
		line-height: 1.3em;
		color:#333;
	}
}

.content-area {
	@include make-md-column(8);
	&.fullwidth {
		@include make-md-column(12);
	}
} 

.entry-format {
	width: 100px;
	padding-top: 100px;
	@include float(left);
}

.entry-meta {
	text-align: center;
}

.entry-date {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	background: #f4f4f4;
	padding: 16px 0;
	.date {
		font-size: 32px;
		display: block;
		line-height: 0.7em;
	}
}

.entry-header {
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	.author.vcard {
		margin-right: 20px;
		position: relative;
		&:before {
			content: "\f0c8";
			position: absolute;
			font-family: FontAwesome;
			right: -10px;
			top: 4px;
			font-size: 6px;
		}
	}
	a {
		color:#07a0dc;
	}
	.comment-link {
		@include float(right);
		a {
			color:#333;
		}
	}
}

.entry-title {
	font-weight: 700;
	margin: 15px 0 40px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 30px;
		height: 3px;
		background: $brand-primary;
		left: 0;
		bottom: -15px;
	}
	a {
		@include transition(all 0.3s ease);
		&:hover {
			text-decoration: none;
			color:#07a0dc;
		}
	}
}

.social-shares {
	position: relative;
	background: #eee;
	padding: 5px 0;
	> a {
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 700;
	}
	&:hover .other-share {
		opacity: 1;
		visibility: visible;
		top: 40px;
	}
	.other-share {
		position: absolute;
		width: 140px;
		background-color: #eee;
		@include box-shadow(0px 1px 2px 0px rgba(0, 0, 0, 0.3));
		padding: 10px;
		left: -20px;
		top: 20px;
		@include transition(all 0.2s ease-in-out);
		opacity: 0;
		visibility: hidden;
		z-index: 99;
		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 10px 5px;
			border-color: transparent transparent #eee transparent;
		}
		a {
			display: block;
			padding:7px 12px;
			color:#fff;
			@include transition(all 0.2s ease-in-out);
			&.facebook {
				background: #3b5998;
			}
			&.twitter {
				background: #00aced;
			}
			&.google-plus {
				background: #dd4b39;
			}
			&.pinterest {
				background: #cb2027;
			}
			&.linkedin {
				background: #007bb6;
			}
			&:hover {
				padding-left: 20px;
				text-decoration: none;
			}
		}
		i.fa {
			color:#fff;
		}
		span {
			display: inline-block;
			color:#fff;
			font-weight: 400;
			font-size: 11px;
		}
	}
}

// IMAGE POST 
.wp-caption {
	position: relative;
	margin: 13px 0;
	font-family: 'Rajdhani', sans-serif;
}
.wp-caption-text {
	position: absolute;
	width: 100%;
	padding: 20px;
	color:#fff;
	background-color: rgba(0,0,0,0.5);
	bottom: 0;
	left: 0;
	right: 0;
}

// SERVICE CONTENT
.service-wrapper {
	margin-bottom: 40px;
}
.service-col-sq {
	@include make-md-column(4);
	margin-bottom: 30px;
	h2 {
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 15px;
		margin-bottom: 20px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 30px;
			height: 3px;
			background: $brand-primary;
			left: 0;
			bottom: 0;
		}
		a {
			&:hover {
				text-decoration: none;
				color:#07a0dc;
			}
		}
	}
	figure {
		margin-bottom: 15px;
	}
	img {
		max-width: 100%;
	}
	.more {
		font-weight: 700;
		font-style: italic;
		text-transform: uppercase;
		font-size: 12px;
		color:#07a0dc;
	}
}

// TAB
.tab-content {
	padding: 20px 10px;
}

// GALLERY
.gallery-wrapper {
	a {
		margin-bottom: 30px;
	}
}

// ABOUT TEAM
.about-team-wrapper {
	margin-bottom: 40px;
	h2,h3 {
		font-weight: 700;
		color:$brand-primary;
		margin: 0 0 10px;
		position: relative;
	}
}

.head-office {
	h2,h3 {
		&:before {
			content: "";
			position: absolute;
			background: $brand-primary;
			width: 30px;
			height: 3px;
			left: 0;
			bottom: -40px;
		}
	}
	.onright {
		margin-left: 290px;
		span {
			margin-top: -7px;
			margin-bottom: 30px;
			display: block;
			font-weight: 700;
			color:#07a0dc;
		}
	}
}

.team-member {
	.onright {
		margin-left: 160px;
		span {
			margin-top: -5px;
			font-size: 12px;
			margin-bottom: 10px;
			display: block;
			font-weight: 700;
			color:#07a0dc;
		}
	}
	&.row {
		border-top: 1px solid #ddd;
		margin-top: 30px;
		padding-top: 30px;
		@include clearfix;
	}
}

.short-social {
	background: #eee;
	padding: 15px 0;
	ul {
		padding: 0;
		margin: 0;
		text-align: center;
		li {
			display: inline-block;
			margin-right: 5px;
		}
	}
}

.contact-form > div {
	margin-top: 10px;
	margin-bottom: 10px;
}

// TESTIMONIAL
.tbox {
	.ava {
		width: 90px;
		height: 90px;
		@include float(left);
	}
	.context {
		margin-left: 110px;
		margin-bottom: 40px;
	}
	.who {
		font-family: 'Rajdhani', sans-serif;
		font-weight: 700;
		color:$brand-primary;
		font-size: 18px;
	}
	small {
		font-size: 14px;
		color:#07a0dc;
	}
	blockquote {
		background: #f4f4f4;
		font-size: 14px;
	}
}

// FOOTER 
.site-footer {
	background: #1360ad;
	color:#fff;
	padding: 60px 0;
	a {
		color:$main-color;
	}
}

.widget-title-outer {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 97.5%;
		height: 1px;
		background-color: #fff;
		left: 15px;
		bottom: 20px;
	}

	h3 {
		font-weight: 700;
		font-size: 18px;
		color:#fff;
		text-transform: uppercase;
		padding-bottom: 10px;
		margin-top: 0;
		margin-bottom: 20px;
		border-bottom: 3px solid #fff;
		display: inline-block;
	}
}

.paging-wrap {
	margin-top: -30px;
	margin-bottom: 40px;
}

.widget-inner {
	padding: 0 15px;
}

.footer-credit {
	background: $brand-primary;
	padding: 40px 0 20px;
	color:#fff;
	font-family: 'Rajdhani', sans-serif;
	@include clearfix;
}

.list-galleries {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		float: left;
		margin-right: 15px;
		margin-top: 7px;
		margin-bottom: 8px;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}

.copy {
	// float: left;
	a {
		color:$main-color;
	}
}

.list-socmed {
	// float: right;
	list-style-type: none;
	padding: 0;
	text-align: right;
	li {
		display: inline-block;
		margin: 0 10px;
		a {
			color:#fff;
		}
	}
}

.format-audio, .format-video, .format-contact {
	.entry-media {
		position: relative;
		padding-bottom: 60%;
		height: 0;
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border:1px solid #fff;
		}
	}
}

.entry-media {
	img {
		max-width: 100%;
	}
}

#secondary {
	.widget {
		padding: 30px;
		background: #f4f4f4;
		margin-bottom: 30px;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				border-bottom: 1px solid #ddd;
				@include clearfix;
				padding: 10px 0;
			}
		}
		iframe {
			width: 100% !important;
			min-height: 300px;
			border: 1px solid transparent;
		}
	}
	.widget-title-outer {
		&:before {
			background-color: #07a0dc;
			left: 0;
		}
		h3 {
			color:$brand-primary;
			border-color: #07a0dc;
		}
	}
	.post-type-widget {
		.post-title {
			font-size: 18px;
			font-weight: 700;
			margin: 5px 0 10px 125px;
		}
		.post-thumbnail {
			width: 110px;
			height: 80px;
			@include float(left);
		}
		.post-category {
			font-size: 11px;
			text-transform: uppercase;
			margin-left: 15px;
		}
		ul li {
			padding-top: 20px;
			padding-bottom: 20px;
			&:first-child {
				padding-top: 5px;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	.searchform {
		position: relative;
		.txt {
			@include border-radius(3px);
			border: 1px solid #ddd;
			padding:10px;
			font-size: 14px;
			width: 100%;
		}
		.btn {
			position: absolute;
			top: 7px;
			right: 6px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 12px;
			background: #07a0dc;
			color:#fff;
		}
	}
	.tagcloud {
		a {
			padding:3px 10px;
			background-color: $brand-primary;
			color:#fff;
			@include border-radius(20px);
			@include transition(all 0.3s ease);
			font-weight: 700;
			font-size: 13px;
			line-height: 2.3em;
			&:hover {
				text-decoration: none;
				background-color: #07a0dc;
				font-weight: 400;
				padding:3px 12px;
			}
		}
	}

	.widget_categories {
		.pull-right {
			font-weight: 700;
			color:#07a0dc;
		}
	}
}

// AUTHOR AREA
.author-wrapper {
	padding-bottom: 20px;
	margin-top: -10px;
	margin-bottom: 20px;
	h2 {
		margin: 0px 0 25px;
		font-weight: 700;
		font-size: 24px;
		text-transform: uppercase;
	}
}
.author-ava {
	width: 80px;
	height: 80px;
	float: left;
	overflow: hidden;
}

.author-context {
	margin-left: 100px;
}

.author-name {
	font-family: 'Rajdhani', sans-serif;
	font-size: 16px;
	font-weight: 700;
}

// RELATED CONTENT
.related-content {
	background: $brand-primary;
	padding: 30px;
	margin-bottom: 40px;
	h2 {
		margin: 0px 0 25px;
		font-weight: 700;
		font-size: 24px;
		text-transform: uppercase;
		color:$main-color;
	}
	img {
		max-width: 100%;
	}
}

.related-title {
	h3 {
		margin: 15px 0;
		line-height: 0.9em;
	}
	a {
		color:#fff;
		font-size: 18px;
	}
}

// COMMENT AREA
.comment-outer {
	background-color: #fff;
	position: relative;
	z-index: 3;
	&:before {
		content: "";
		position: absolute;
		background: #000;
		height: 1px;
		width: 100%;
		left: 0;
		top: 38px;
	}
}

.comment {
	@include clearfix;
	padding: 15px 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #ededed;
	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
	}
	.reply, .fn {
		float: left;
	}
	.fn {
		margin-right: 10px;
		font-family: 'Rajdhani', sans-serif;
		font-size: 16px;
	}
	.reply {
		position: relative;
		padding-left: 13px;
		font-weight: 700;
		font-style: italic;
		a {
			color: #07a0dc;
		}
		&:before {
			content: "";
			position: absolute;
			width: 3px;
			height: 3px;
			background-color: #333;
			left: 0;
			top: 10px;
		}
	}
}

.comment-meta {
	overflow: hidden;
}

.comment-metadata {
	font-size: 11px;
	text-transform: uppercase;
	margin: 5px 0;
	a {
		color:#878787;
	}
}

.comments-title {
	font-size: 24px;
	font-weight: 700;
	margin: 0 0 30px;
	padding-bottom: 10px;
	display: inline-block;
	border-bottom: 3px solid #000;
}

.comment-list {
	list-style: none;
	padding: 0 0 20px 0;
	margin: 0;
	font-size: 14px;
	border-bottom: 1px solid #ededed;
}

.comment-author {
	width: 80px;
	height: 80px;
	float: left;
	overflow: hidden;
	img{
		display: block;
	}
}

.comment-wrapper {
	margin-left: 95px;
}

.children {
	padding: 0;
	margin: 0;
	list-style: none;
	.comment {
		padding-top: 25px;
		margin-top: 25px;
		margin-bottom: 0;
		border-top: 1px solid #ededed;
		position: relative;
		&:first-child {
			border-bottom: 0;
		}
		&:before {
			content: "\f064";
			position: absolute;
			font-family: FontAwesome;
			font-size: 18px;
			top: 40%;
			left: 4%;
			color:#07a0dc;
		}
	}
	.comment-wrapper {
		margin-right: 95px;
	}
	.comment-author {
		float: right;
	}
}

.comment-respond {
	background: #f4f4f4;
	padding: 40px 90px;
	margin-bottom: 60px;
	.comment-reply-title {
		font-weight: 700;
		font-size: 24px;
		text-transform: uppercase;
	}
	.comment-notes {
		margin-bottom: 20px;
		font-style: italic;
	}
	.required {
		color:red;
		display: none;
	}
	label {
		display: block;
		font-family: 'Rajdhani', sans-serif;
		text-transform: uppercase;
	}
	.input-text {
		background-color: #f9f9f9;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
	}
}

// SERVICE BOX
.service-page {
	margin-bottom: 40px;
	@include clearfix;
}
.main-picture {
	margin-bottom: 30px;
}
.gallery-box {
	> div {
		margin-bottom: 30px;
	}
}

.space {
	width: 100%;
	height: 40px;
	display:block;
	@include clearfix;
}

// ERROR PAGE
.error-page {
	@include make-md-column(8);
	margin-bottom: 40px;
}

.error-header {
	text-align: center;
}

// SEARCH RESULT
.result-section {
	margin-bottom: 30px;
	.entry-title {
		color:$brand-primary;
		margin-bottom: 30px;
	}
	.entry-link {
		a {
			color:#07a0dc;
		}
	}
}

.var-section {
	margin-bottom: 30px;
	h2 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
	}
	form {
		background: $main-color;
		padding: 20px;
		position: relative;
		@include box-shadow(2px 2px 0px 0px rgba(0,0,0,0.1));
		.btn {
			position: absolute;
			right: 27px;
			top:27px;
			background: #07a0dc;
			color:#fff;
		}
	}
	.input-text {
		padding:10px;
		width: 100%;
	}

	ul {
		padding: 0;
		list-style-type: square;
		list-style-position: inside;
	}
}
.modal {
	z-index: 99999;
}
.modal-backdrop {
  bottom: 0;
  position: fixed;
  z-index: 9999;
}
// SAFARI CAROUSEL
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}